$font-family-sans-serif: 'PT Sans','Open Sans',"Helvetica Neue", Helvetica, Arial, sans-serif;
$headings-font-family: "PT Sans Caption",$font-family-sans-serif;
$font-family-base: $font-family-sans-serif;

$body-bg: #fff;
$body-color: #000;
$link-color: blue;
$btn-bg: grey;
$btn-color: lighten($btn-bg, 50%);
$secondary-bg: #F1EED9;

$brand-primary: lighten($body-color, 20%);
$brand-danger: darken($body-bg, 30%);

$waycolor: $link-color;
$text_background: $body-bg; // can be btn-bg
$animation_duration: 2s;

$enable-rounded:            true;
$enable-shadows:            false;
$enable-gradients:          false;
$enable-transitions:        false;
$enable-hover-media-query:  false;
$enable-grid-classes:       false;
$enable-print-styles:       true;

$ok-color: $link-color;
$neutral-color: brown;
$warning-color: darkred;
