// Style variables - colors and switches
@import "variables";

// Bootstrap switches - turn off modules you don't need
@import "bootstrap";

.container {
  @include make-container();
  @include make-container-max-widths();
}
// The title block
.title {
  margin-top: 3.5em;
  @include make-row();
  .label {
    margin-top: 1.5em;
    margin-bottom: 1em;
    // mobiles: full width (12 out of 12)
    @include make-col(12);
    // tablets and wider: 8 columns
    @include media-breakpoint-up(md) {
      @include make-col(8);
      margin-left: auto;
      margin-right: auto;
    }
    text-align: center;
  }
  .subtitle {
    font-size: smaller;
    color: #aaa;
  }
  h2 {
    font-size: 1.5rem;
  }
  .warnings {
    font-size: small;
    font-style: italic;
    p {
      margin-bottom: 1em;
    }
  }
  .noscript_message {
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    font-size: 0.9em;
    font-style: italic;
    text-align: center;
    color: #943;
  }
}
.fixed {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1000;
  width: 100%;
}
#tools_wrapper {
  background: $body-bg;
  @include make-row();
  .ways {
    padding: 0.5em;
    @include make-col(12);
    @include media-breakpoint-up(md) {
      @include make-col(6);
    }
  }
  .buttons {
    @include make-col(12);
    @include media-breakpoint-up(md) {
      @include make-col(6);
    }
    text-align: right;
  }
  button {
    display: inline-block;
  }
}
#content_wrapper {
  background: $text_background;
  border-radius: 5px;
  @include make-row();
}
.content {
  @include make-col(12);
  @include media-breakpoint-up(md) {
    @include make-col(10);
    margin-left: auto;
    margin-right: auto;
  }
  padding: 1em;
  ul {
    margin: 0;
    padding: 0 0 0 1em;
  }
  ul.options {
    border: 1px solid #876;
    padding: 0;
    text-align: center;
    margin-top: 0.5em;
    margin-bottom: 0.7em;
    list-style-type: none;
    border-radius: 4px;
    li {
      padding: 0.5em;
      border-bottom: 1px solid #876;
    }
    li:hover {
      background-color: rgba(153,136,119,0.2);
      cursor: pointer;
    }
    li:last-child {
      border-bottom: none;
    }
  }
  section {
    border-top: 1px dashed #bbb;
  }
  .room-start {
    border-top: none;
  }
  h3 {
    text-align: center;
  }
}

#legal {
  @include make-row();
  margin-top: 1em;
  color: darken($body-color, 10%);
  font-size: smaller;
  .muted {
    color: grey;
  }
  #footleft {
    @include make-col(12);
    @include media-breakpoint-up(md) {
      @include make-col(5);
      margin-left: auto;
      margin-right: auto;
    }
  }
  #footright {
    text-align: right;
    @include make-col(12);
    @include media-breakpoint-up(md) {
      @include make-col(2);
      margin-left: auto;
      margin-right: auto;
    }
  }
}

.way {
  color: $waycolor;
  margin-right: 1em;
}

.cycle {
  color: darkgreen;
  border-bottom: darkgreen dashed 1px;
}

hr {
  width: 50%;
  border-color: $body-color;
}

.center {
  text-align: center;
}

.btn-outline-primary,
.btn-outline-danger {
  border: none;
  border-color: transparent;
}
